#alex{

	.alex-projects{
		list-style-type:none;
		display: flex;
		justify-content:flex-start;
		flex-wrap: wrap;
		font-family: $fontHeader;
		li{
			flex: 0 0 20%;
			margin: $spacer;
			background-color: $colorAlex;
			padding: $spacer;
			box-sizing: border-box;
			a{
				font-family: $fontBody;
				margin-left:50%;
				// margin-left:30%;
			}
			img{
				display: block;
				width: 100%;

			}
		}

	}

	footer {
		height: 10vh;
		background-color: darken($colorClaire,2);
		a{
			color: black;
		}
		ul{
			list-style-type:none;
		}
		.box-footer{
			display:flex;
			padding-top:2%;
			justify-content:space-around;
			font-family:$fontBody;
			color:white;
			.column3 p{
				font-weight:400;
				color:black;	
			}
		}
	}
}
