#claire {
	height: 100vh;
	background-color: $backgroundcolor;
	
	header.staff-header{
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;

		height: 10vh;
		min-height: 3em;
		background-color: darken($colorMaria,5);

		.logo{
			padding-left: 1em;
			font-family: $fontHeader;
			color: $backgroundcolor;
			text-shadow: 3px -3px 10px darken($colorMaria,20);
			font-size: 2em;
			text-transform: uppercase;
			span{
				color: $colorMaria;
			}
		}
		.staff-nav{
			flex: 0 0 40%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-around;

			font-family: $fontBody;
			text-transform: uppercase;

			list-style-type: none;

			font-size: 1.5em;

			color: $backgroundcolor;
			text-shadow: 3px -3px 10px darken($colorMaria,20);

			padding:0;
			margin:0;

			.color-claire>a{
				color: $colorClaire;
				text-shadow: 3px -1px 10px darken($colorMaria,30);
			}
			.color-alex>a{
				color: $colorAlex;
				text-shadow: 3px -1px 10px darken($colorMaria,30);
			}
			.color-maria>a{
				color: $colorMaria;
				text-shadow: 3px -1px 10px darken($colorMaria,30);
			}
			a{
				transition: all ease 0.5s;
				color: $backgroundcolor;
				&:hover{
					text-decoration: none;
					font-size: 1.25em;
				}
			}
		}
	}

	main {

		width: 98vw;

		h1 {
			font-family: $fontHeader;
		}
		.name {
			color: darken($colorMaria, 10);
			font-family: $fontHeader;
			text-align: center;
			margin-top: 1em;
		}

	
		.aboutme {
			border-top: thin $colorMaria solid;
			border-bottom: thin $colorMaria solid;
			margin-left: 4em;
			margin-right: 4em;
			text-align: center;
			font-family: $fontBody;
			color: darken($colorClaire, 20);
			padding-top: 1em;
			padding-bottom: 1em;
			
		}
		#projects {
			text-align: center;
			margin-top: 1.5em;

			a {
				color: darken($colorMaria, 20);
				text-decoration: none;
			}
		}
		.projects{
			display:flex;
			flex-wrap:wrap;
			list-style-type: none;
			margin-right: 1.5em;
		}

		.projects li{
			flex: 1 0 20%;
			margin: 0.5em;
			border: 1px $colorClaire solid;
			padding: 0.5em;
			box-sizing: border-box;
			border-radius: 1em;
			text-align: center;
			color: darken($colorMaria, 20);
			font-family: $fontBody;
			box-shadow: 0 2px 5px;
			font-size: 2em;
		}

		.projects img{
			display:block;
			width: 100%;
			
		}
	}

	footer {
		height: 10vh;
		background-color: darken($colorClaire,2);
		a{
			color: black;
		}
		ul{
			list-style-type:none;
		}
		.box-footer{
			display:flex;
			padding-top:2%;
			justify-content:space-around;
			font-family:$fontBody;
			color:white;
			.column3 p{
				font-weight:400;
				color:black;	
			}
		}
	}
}