#index {

	display: flex;
	flex-direction: column;

	header {
		
	}

	main {

		border: thin red solid;
		height: 50vh;

		flex: 1 0 40%;

	}

	footer {
		height: 10vh;
		background-color: darken($colorClaire,2);
		a{
			color: black;
		}
		ul{
			list-style-type:none;
		}
		.box-footer{
			display:flex;
			padding-top:2%;
			justify-content:space-around;
			font-family:$fontBody;
			color:white;
			.column3 p{
				font-weight:400;
				color:black;	
			}
		}
	}

}