#index {

	display: flex;
	flex-direction: column;

	header {
		
	}

	main {

		border: thin red solid;
		height: 50vh;

		flex: 1 0 40%;

	}

	footer {
		
		height: 10vh;
		border: 1px yellow solid;
		background-color: $backgroundcolor;
	}

}